denkerij gedenk titel trefwoord alinea
denkerij, gedenk, titel, trefwoord, alinea {
 font-family: "comic sans ms",verdana,arial,sans-serif;
 display: block;
 background-color: gray;
 }
gedenk {
 margin-top: 2em;
 margin-bottom: 2em:
 }
titel {
 font-size: 1.8em;
 text-align: left;
 color: blue;
 margin-bottom: .5em;
 margin-top: .5em;
 }
trefwoord:before {
 content: "trefwoord: ";
 white-space: pre;
}
trefwoord {
 font-size: 1.8em;
 display: block;
 color: navy;
 }
alinea {
 text-indent: 10;
 color: navy;
 margin-top: .5em;
 }
