<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Denk_Start</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" href="http://www.magiokis.nl/magiokis.css" type="text/css" />
  <meta http-equiv="Refresh" content="0;url=http://denk.magiokis.nl/cgi-bin/denk_start.py"/>
</head>
<body>
<a href="http://denk.magiokis.nl/cgi-bin/denk_start.py">Denksels-database wordt gestart. Klik op deze link als het te lang duurt...</a>
</body>
</html>
