{% extends "denk/base_site.html" %}
{% block content-data %}
<p>Kies iets om te doen:</p>
<a href="/denk/select/all" title="">Toon alle teksten</a><br/>
<a href="/denk/enter/trefw" title="">Toon alle teksten bij een trefwoord</a><br/>
<a href="/denk/enter/zoek1" title="">Zoeken op woord(en) in titel</a><br/>
<a href="/denk/enter/zoek2" title="">Zoeken op woord(en) in tekst</a><br/>
<a href="/denk/detail/nieuw" title="">Nieuwe tekst opvoeren</a><br/>
<a href="/denk/trefw/nieuw" title="">Nieuw trefwoord opvoeren</a><br/>
<br/>
{% endblock %}
