{% extends "songs/base_site.html" %}
{% load extratags %}
{% block extrahead %}<script src="/static/play.js"></script>{% endblock %}
{% block content-data %}
<form action="/songs/select/opnames/" method="get">
<select name="select" onchange="form.submit()">
<option value="">Kies een verzameling:</option>
{% for serie in series %}
<option value="{{serie.id}}">{{serie.naam}}</option>
{% endfor %}
</select>
</form>
{% if melding %}<h3>{{melding}}</h3>{% endif %}
<hr style="height: 3px"/>
<span id="right2">
{% if opnames %}
<h3>Lijst met opnames in verzameling {{serienaam}}</h3>
<table width=100%>
    <tr><th>&nbsp;</th><th>Titel</th><th>Datering</th><th>Beschrijving</th></tr>
    {% for opn in opnames %}
    <tr>
        <td>
            <audio id="play_{{forloop.counter}}" src="http://data.magiokis.nl/mp3/{{opn.url|lower}}.mp3"></audio>
            <input type="button" id="pb_{{forloop.counter}}" onclick ="play_or_pause('{{forloop.counter}}')" value="Play" />
        </td>
        <td><a href="/songs/opname/{{opn.id}}">
            {% if opn.song %}{{opn.song}}{% else %}{{opn.titel|default:"(untitled)"}}{% endif %}
        </a></td>
        <td>{{opn.datum|nbrk}}</td>
        <td>{{opn.commentaar}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</span>
{%endblock%}
