{% extends "songs/base_site.html" %}
{% block content-data %}
<a name="details"></a>
<!-- <span class="backo"> --><h3>Details van song:</h3><!-- </span> -->
<table width="100%" valign="top">
  <tr><td width="15%">Titel:</td><td width="85%"><b>{{song.titel|upper}}</b></td></tr>
  <tr><td>Tekst van:</td><td>{{song.tekst.naam}}</td></tr>
  <tr><td>Muziek van:</td><td>{{song.muziek.naam}}</td></tr>
  <tr><td>Datering:</td><td>{% if song.datumtekst %}{{song.datumtekst}}{% else %}{{song.datering}}{% endif %}</td></tr>
  <tr><td>Opmerkingen:</td><td>{{song.commentaar}}</td></tr>
 </table><br/>
{%if song%}
<span class="button">
<a href="/songs/detail/{{song.id}}/edit/{% if soort %}{{soort}}/{{sel}}/{% endif %}">Wijzig details</a></span>
<span class="button"><a href="#top">Terug naar top</a></span>
{%else%}
<span class="buttno"><a href="/songs/detail/add/{% if soort %}{{soort}}/{{sel}}/{% endif %}">Nieuwe song</a></span>
{%endif%}
<hr style="height: 3px"/>
<a name="opnames"></a>
<!-- <span class="backo"> --><h3>{% if opnames %}O{% else %}Nog geen o{% endif %}pnames
van deze song{% if opnames %}:{% else %} vastgelegd<br/><br/>{% endif %}</h3><!-- </span> -->
{% if opnames %}
<table width="100%" border="0" valign="top">
<tr><td>&nbsp;</td><td>Plaats/datum:  </td>
<td>Instrumentarium/Bezetting/Commentaar:</td></tr>
{% for item in opnames %}
<tr><td><!-- <a href="/songs/mp3/{{item.url|lower}}">[Play]</a><a href="/songs/opname/play/{{item.url}}/">[Play]</a> -->
    <object type="application/x-shockwave-flash" data="http://original.magiokis.nl/xspf_player/button/musicplayer.swf?song_url=http://data.magiokis.nl/mp3/{{item.url|lower}}&b_bgcolor=cccccc&b_fgcolor=666666&b_colors=ff0000,0000ff,00ff00,000000&"  width="20" height="20">
        <param name="movie" value="http://original.magiokis.nl/xspf_player/button/musicplayer.swf?song_url=http://data.magiokis.nl/mp3/{{item.url|lower}}&b_bgcolor=cccccc&b_fgcolor=666666&b_colors=ff0000,0000ff,00ff00,000000&" />
        <img src="http://original.magiokis.nl/xspf_player/noflash.gif" alt="Play"width="20" height="20" />
    </object>
</td>
<td><a href="/songs/opname/{{item.id}}/{% if soort %}{{soort}}/{{sel}}/{% endif %}">{{item.loc}}</a></td>
<td>{{item.oms}}</td></tr>
{% endfor %}
</table><br/>
{% endif %}
<span class="button"><a href="/songs/{{song.id}}/opname/add/{% if soort %}{{soort}}/{{sel}}/{% endif %}">Nieuwe opname</a></span>
<span class="button"><a href="#top">Terug naar top</a></span>
<hr style="height: 3px"/>
<a name="muziek"></a>
<!-- <span class="backo"> --><h3>{% if registraties %}R{% else %}Nog geen r{% endif %}egistraties
van deze song{% if registraties %}:{% else %} vastgelegd<br/><br/>{% endif %}</h3><!-- </span> -->
{% if registraties %}
<table width="100%" border="0" valign="top">
<tr><td>&nbsp;</td><td>Soort registratie:</td>
<td>Commentaar:</td></tr>
{% for item in registraties %}
<tr><td><a href="http://data.magiokis.nl/{{item.play}}/{{item.url|lower}}">{% if item.type.id == 5 %}[View]{%else%}[Play]{%endif%}</a></td>
<td><a href="/songs/reg/{{item.id}}/{% if soort %}{{soort}}/{{sel}}/{% endif %}">{{item.type}}</a></td>
<td>{{item.commentaar}}</td></tr>
{% endfor %}
</table>
<br />
{% endif %}
<span class="button"><a href="/songs/{{song.id}}/reg/add/{% if soort %}{{soort}}/{{sel}}/{% endif %}">Nieuwe registratie</a></span>
<span class="button"><a href="#begin">Terug naar top</a></span>
<hr style="height: 3px"/>
{% if tekst %}
<!-- <span class="backo"> --><h3>Tekst:</h3><!-- </span> -->
<a name="tekst"><!-- <span class="backo">{{tekst.0}} </span> --></a>
<table id="teksttab" width="100%" border="0">
 <tr><td>{{tekst.1|linebreaksbr}}</td></tr>
</table>
<br />
{% else %}
<h3>(nog) geen tekst aanwezig</h3><br/>
{% endif %}
<span class="button"><a href="/songs/tekst/{{song.id}}/
{% if tekst %}edit{%else%}add{% endif %}/{% if soort %}{{soort}}/{{sel}}/{% endif %}">Songtekst
{% if tekst %}wijzigen{%else%}opvoeren{% endif %}</a></span>
<span class="button"><a href="#top">Terug naar top</a></span>
{%endblock%}
